@{
    ViewData["Title"] = "Home Page";
}
<form action="logout" method="post" class="float-end">
    <button type="submit" class="btn btn-primary mt-2" >Log out</button>
</form>
<div class="centered-text">
    <h1 class="display-4">Success!</h1>
</div>
