@model Survey

<div class="text-center">
    <h1>Dojo Survey</h1>
    <form action="process" method='post'>
        <div>
            <label asp-for="Name" >Your Name:</label>
            <input asp-for="Name">
            <span asp-validation-for="Name"></span>
        </div>
        <div>
            <label asp-for="Location">Dojo Location:</label>
            <select asp-for="Location">
                <option value="San Jose">San Jose</option>
                <option value="San Francisco">San Francisco</option>
            </select>
            <span asp-validation-for="Location"></span>
        </div>
        <div>
            <label asp-for="Language">Favorite Language: </label>
            <select asp-for="Language">
                <option value="C#">C#</option>
                <option value="Java">Java</option>
            </select>
            <span asp-validation-for="Language"></span>
        </div>
        <div class="d-flex justify-content-center">
            <label asp-for="Comment">Comment (optional):</label>
            <textarea asp-for="Comment" cols="25" rows="8"></textarea>
            <span asp-validation-for="Comment"></span>
        </div>
        <input type="submit" value="Submit">
    </form>
</div>
