@model Dish
<div class="text-center my-3">
    <h1 class="display-4">Add a new Dish!</h1>
    <div>
        <a href="/">Home</a>
        |
        <a href="/dishes/new">Add a Dish</a>
    </div>
</div>
@* The form to create a new dish *@
<form action="/dishes/create" method="post" class="w-75 mx-auto">
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control">
        <span asp-validation-for="Name"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Chef" class="form-label"></label>
        <input asp-for="Chef" class="form-control">
        <span asp-validation-for="Chef"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Calories" class="form-label"></label>
        <input asp-for="Calories" class="form-control">
        <span asp-validation-for="Calories"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Tastiness" class="form-label"></label>
        <select asp-for="Tastiness" class="form-select">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <span asp-validation-for="Tastiness"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Description" class="form-label"></label>
        <input asp-for="Description" class="form-control">
        <span asp-validation-for="Description"></span>
    </div>
    <input type="submit" value="Add Dash" class="btn btn-primary float-end">
</form>