<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A Web Page</title>
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <nav>
        <ul class="flex justify-center">
            <li><a href="/">Home</a></li> <span>|</span>
            <li>Projects</li> <span>|</span>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
    <h1 class="flex justify-center">My Projects</h1>
    <div class="flex flex-col gap1r">
        <div class="flex justify-center gap1r">
            <p class="box"></p>
            <div>
                <h3>Project 1</h3>
                <p class="text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque sed veritatis molestias!
                    Eaque, minima sunt sed perferendis nam quo officiis aspernatur id deserunt autem praesentium, nisi culpa molestiae eos. Natus?
                </p>
            </div>
        </div>
        <div class="flex justify-center gap1r">
            <p class="box"></p>
            <div>
                <h3>Project 2</h3>
                <p class="text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque sed veritatis molestias!
                    Eaque, minima sunt sed perferendis nam quo officiis aspernatur id deserunt autem praesentium, nisi culpa molestiae eos. Natus?
                </p>
            </div>
        </div>
        <div class="flex justify-center gap1r">
            <p class="box"></p>
            <div>
                <h3>Project 3</h3>
                <p class="text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque sed veritatis molestias!
                    Eaque, minima sunt sed perferendis nam quo officiis aspernatur id deserunt autem praesentium, nisi culpa molestiae eos. Natus?
                </p>
            </div>
        </div>
    </div>
</body>
</html>