@model Comment
<form action="/comments/create" method="post">
    <label asp-for="CommentText">Post a Comment</label>
    <input asp-for="CommentText">
    <span asp-validation-for="CommentText" class="text-danger"></span>
    <input type="hidden" asp-for="MessageId" value=@Model.MessageId>
    <input type="submit" value="Comment" class="btn btn-success">
</form>